* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.black-nav {
  display: flex;
  background-color: black;
  width: 100%;
  color: white;
  padding: 2rem 1rem;
}
.list {
  padding: 20px;
  text-align: left;
  border-bottom: 2px solid #eee;
  cursor: pointer;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  text-align: left;
}
