@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  /* Dark mode - default*/
  --color-primary: #1d122b;
  --color-primary-variant: #321d52;
  --color-accent: #8ae9ff;
  --color-text: #d6e4ff;
}
:root[data-theme='light'] {
  --color-primary: #faf9f6;
  --color-primary-variant: #ffecb3;
  --color-accent: #ffd45a;
  --color-accent-variant: #ff9e3d;
  --color-text: #1d122b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SUSE Mono', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-primary);
}
.container {
  width: 300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 32px;
  background-color: var(--color-primary);
  color: var(--color-text);
  box-shadow: var(--color-primary-variant) 0px 0px 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1.6rem;
  border-radius: 32px;
  font-size: 0.8rem;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

.sun {
  position: relative;
  display: none;
}
.sun.show {
  display: block;
}
.sun-glow {
  position: absolute;
  width: 8px;
  height: 20px;
  background-color: var(--color-accent);
  border-radius: 4px;
}
.sun-glow-left-under {
  transform: translate(-20px, 43px) rotate(90deg);
}
.sun-glow-left {
  transform: translate(-5px, -7px) rotate(-45deg);
}
.sun-glow-middle {
  transform: translate(46px, -25px);
}
.sun-glow-right {
  transform: translate(95px, -7px) rotate(45deg);
}
.sun-glow-right-under {
  transform: translate(111px, 43px) rotate(90deg);
}
.sun-body {
  width: 100px;
  height: 60px;
  border-radius: 50px 50px 4px 4px;
  background: linear-gradient(var(--color-accent-variant), var(--color-accent));
}
/* moon */
.moon {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(
    circle at 20% 80%,
    var(--color-text) 0%,
    transparent 80%
  );
}
.moon.hidden {
  display: none;
}
.moon-shadow {
  position: absolute;
  top: -8px;
  left: 20px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: var(--color-primary);
}
.text {
  margin: 48px 0;
}
.text__title {
  font-size: 1.8rem;
}
.text__des {
  font-size: 1rem;
  margin-top: 16px;
}
/*  */
.switch {
  position: relative;
  width: 200px;
  height: 40px;
  cursor: pointer;
}
#checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-primary-variant);
  border-radius: 24px;
}
.slider:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 40px;
  border-radius: 24px;
  background-color: var(--color-accent);
  transition: all 300ms ease;
  z-index: 5;
}
#checkbox:checked + .slider:after {
  transform: translateX(-100px);
}
.slider__text {
  position: absolute;
  font-weight: bold;
}
.slider__text:first-child {
  top: 0;
  left: 0;
  transform: translate(30%, 50%);
  color: var(--color-text);
  z-index: 10;
}
.slider__text:last-child {
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  color: var(--color-primary);
  z-index: 10;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.6rem;
}
.footer__skip {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--color-text);
}
.footer__skip:hover {
  color: var(--color-accent);
}
.footer__btn {
  width: 48px;
  height: 48px;
  border: 2px solid transparent;
  outline: none;
  background-color: var(--color-primary-variant);
  border-radius: 50%;
  font-size: 1.8rem;
  color: var(--color-text);
  line-height: 48px;
  cursor: pointer;
  transition: all 300ms ease;
}
.footer__btn:hover {
  border: 2px solid var(--color-accent);
  transform: translateX(5px);
  color: var(--color-accent);
}
